.upload_file {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 32px;
}

.upload_file .upload_file_options {
  border: 2px solid rgba(84, 84, 84, 0.4);
  border-radius: 8px;
  max-height: 200px;
  min-width: 550px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.file-block {
  width: 180px;
  background: #374151;
  position: relative;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.close-button {
  position: absolute;
  top: -11px;
  right: -8px;
  width: 22px;
  height: 21px;
  border: none;
  background: rgb(248 17 17 / 66%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3sease-in-out;
}
.close-button:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.2) rotate(180deg);
}

.close-button:active {
  transform: scale(1.1);
}
.close-icon {
  line-height: 0;
}

.showSummary {
  max-width: 1320px;
  margin: auto;
  background: #ff84843d;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 10px 8px 31px rgba(0, 0, 0, 0.4);
}

.dot-flashing {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  background-color: #3498db;
  border-radius: 50%;
  animation: dotFlashing 1.5s infinite linear;
}

@keyframes dotFlashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
